In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
import seaborn as sns
import googlemaps
import scipy
#from scipy.spatial import distance

%matplotlib inline

In [2]:
subway= pd.read_excel('subway_location.xlsx')

In [3]:
type(subway)

pandas.core.frame.DataFrame

In [4]:
subway.shape

(694, 9)

In [5]:
subway.head()

   전철역코드  전철역명 호선 외부코드  사이버스테이션       X좌표        Y좌표   X좌표(WGS)    Y좌표(WGS)
0    150   서울역  1  133      150  493365.0  1125595.0  37.554648  126.972559
1    151    시청  1  132      151  494587.0  1128532.0  37.564718  126.977108
2    152    종각  1  131      152  496085.0  1129940.0  37.570161  126.982923
3    153  종로3가  1  130      153  498060.0  1130332.0  37.571607  126.991806
4    154  종로5가  1  129      154  500162.0  1130132.0  37.570926  127.001849

In [6]:
df_sub = subway[['전철역명','X좌표(WGS)','Y좌표(WGS)']]

df_sub.columns = ["sub_name", "lat2", "lng2"]

df_sub.tail(30)

     sub_name       lat2        lng2
664        둔전  37.267051  127.213640
665   전대·에버랜드  37.285342  127.219561
666        발곡  37.727048  127.052803
667        회룡  37.724846  127.046895
668        범골  37.728755  127.043530
669    경전철의정부  37.737202  127.043257
670     의정부시청  37.739256  127.034781
671        흥선  37.743302  127.037023
672     의정부중앙  37.743676  127.049565
673        동오  37.745271  127.056947
674        새말  37.748885  127.063620
675  경기도청북부청사  37.750590  127.071495
676        효자  37.754025  127.076902
677        곤제  37.750471  127.083715
678        어룡  37.742802  127.085035
679        송산  37.737279  127.087159
680        탑석  37.733579  127.088704
681     북한산우이        NaN         NaN
682      솔밭공원        NaN         NaN
683   419민주묘지        NaN         NaN
684       가오리        NaN         NaN
685        화계        NaN         NaN
686        삼양        NaN         NaN
687     삼양사거리        NaN         NaN
688        솔샘        NaN         NaN
689    북한산보국문        NaN         NaN
690        정릉        NaN         NaN
691    성신여대입구  37.592624  127.016403
692        보문  37.585286  127.019381
693       신설동  37.575297  127.025087

In [7]:
import googlemaps

In [8]:
gmaps = googlemaps.Client(key="AIzaSyBYcd2V1OqeDuphQiUUO5BxblPlpgcUDU0")

In [10]:
add = ['지평', '탕정', '풍기', '여주', '북한산우이', '솔밭공원', '419민주묘지', '가오리', '화계', '삼양', 
       '삼양사거리', '솔샘', '북한산보국문', '정릉', '성신여대입구', '보문', '신설동']

In [11]:
lat_list = [] # 위도 리스트
lng_list = [] # 경도 리스트
for each in add:
    try:
        tmpMap = gmaps.geocode(each, language="ko")
        # 위도 경도를 받고
        lat = tmpMap[0]['geometry']['location']['lat']
        lng = tmpMap[0]['geometry']['location']['lng']
    except:
        try:
            # tmpMap이 []로 받아지는 경우 존재 -> lat, lng받을 때 indexError 발생 , 이유를 찾아보니까
            # ex) '옥수' 로 geocode에 넣으면 빈 리스트 출력, '옥수역'으로 geocode에 넣어야 원하는 값이 나옴
            each += "역" # 역을 붙이면 다 정보 존재함
            tmpMap = gmaps.geocode(each, language="ko")
            # 위도 경도를 받고
            lat = tmpMap[0]['geometry']['location']['lat']
            lng = tmpMap[0]['geometry']['location']['lng']
        except:
            # 여기까지 오는 예외 케이스;; : (우이실선설 삼양 -> 삼양도 없고 삼양역도 없다.)
            lat = None
            lng = None
            print(" 뭐야 이건", each)
        
    # 위도, 경도 리스트에 값 저장
    lat_list.append(lat)
    lng_list.append(lng)

 뭐야 이건 삼양역

In [ ]:
sub_position = pd.DataFrame({'sub_name' : add,
                            'latitude' : lat_list,
                            'longitude' : lng_list})